<table>
    <tr>
        <th>Sender</th>
        <th>Message</th>
        <th>Actions</th>
    </tr>
    {{#each this}}
    <tr>
        <td>{{sender}}</td> 
        {{!-- aca tengo que poner un link al filtro por remitente --}}
        <td>{{value}}</td>
        <td>Not implemented!</td>
    </tr>
    {{/each}}
</table>